body {
   background-color: aqua; 
}

h1 {
    // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
}

p {
    // <uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 100 to 900
    
    .jost-<uniquifier> {
      font-family: "Jost", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    }

}